@*<a class="dropdown-toggle nav-link" data-toggle="dropdown" href="@Model.Href">@Model.Text <i class="fa fa-angle-down"></i></a>*@
<a class="dropdown-toggle nav-link" data-toggle="dropdown" href="@Model.Href">@Model.Text <i class="">&nbsp;</i></a>