@using Orchard.ContentManagement;

@{
    IEnumerable<object> blogPosts = Model.ContentItems.ContentItems;
}

@if (blogPosts == null || blogPosts.Count() < 1) {
    <p>@T("No posts.")</p>
}
else {
    <ul class="recent-posts">
        @foreach (dynamic post in blogPosts) {
            string title = post.Title;
            ContentItem contentItem = post.ContentItem;
            DateTime date = post.ContentItem.CommonPart.CreatedUtc;

            var summaryText = post.ContentItem.BlogPost.Fields.Count > 0 ? post.ContentItem.BlogPost.Fields[0].Value : string.Empty;

            <li>
                <h5>
                    @Html.ItemDisplayLink(title, contentItem)<br />
                    @if (!string.IsNullOrWhiteSpace(summaryText))
                    {
                        @summaryText
                        <br />
                    }
                    <small>@T("Posted") @date.ToShortDateString()</small>
                </h5>
            </li>
        }
    </ul>
}