#toTop {
    bottom: 10px;
    position: fixed;
    cursor: pointer;
    right: 5px;
}
/*
html.boxed-layout #layout-main-container,
html.boxed-layout #layout-tripel-container,
html.boxed-layout #layout-footer {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  html.boxed-layout #layout-main-container,
  html.boxed-layout #layout-tripel-container,
  html.boxed-layout #layout-footer {
    width: 750px;
  }
}
@media (min-width: 992px) {
  html.boxed-layout #layout-main-container,
  html.boxed-layout #layout-tripel-container,
  html.boxed-layout #layout-footer {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  html.boxed-layout #layout-main-container,
  html.boxed-layout #layout-tripel-container,
  html.boxed-layout #layout-footer {
    width: 1170px;
  }
}
html.boxed-layout #layout-main-container > .navbar-header,
html.boxed-layout #layout-tripel-container > .navbar-header,
html.boxed-layout #layout-footer > .navbar-header,
html.boxed-layout #layout-main-container > .navbar-collapse,
html.boxed-layout #layout-tripel-container > .navbar-collapse,
html.boxed-layout #layout-footer > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px) {
  html.boxed-layout #layout-main-container > .navbar-header,
  html.boxed-layout #layout-tripel-container > .navbar-header,
  html.boxed-layout #layout-footer > .navbar-header,
  html.boxed-layout #layout-main-container > .navbar-collapse,
  html.boxed-layout #layout-tripel-container > .navbar-collapse,
  html.boxed-layout #layout-footer > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}
html.fluid-layout #layout-main-container,
html.fluid-layout #layout-tripel-container,
html.fluid-layout #layout-footer {
  padding: 0 15px;
}
html.fixed-nav.boxed-layout #layout-navigation {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  html.fixed-nav.boxed-layout #layout-navigation {
    width: 750px;
  }
}
@media (min-width: 992px) {
  html.fixed-nav.boxed-layout #layout-navigation {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  html.fixed-nav.boxed-layout #layout-navigation {
    width: 1170px;
  }
}
html.fixed-nav.boxed-layout #layout-navigation > .navbar-header,
html.fixed-nav.boxed-layout #layout-navigation > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px) {
  html.fixed-nav.boxed-layout #layout-navigation > .navbar-header,
  html.fixed-nav.boxed-layout #layout-navigation > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}
html.fixed-nav.fluid-layout #layout-navigation {
  padding: 0 15px;
}
html.floating-nav #layout-navigation {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  html.floating-nav #layout-navigation {
    float: left;
    width: 100%;
  }
}
html.floating-nav.boxed-layout .navbar-wrapper {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  html.floating-nav.boxed-layout .navbar-wrapper {
    width: 750px;
  }
}
@media (min-width: 992px) {
  html.floating-nav.boxed-layout .navbar-wrapper {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  html.floating-nav.boxed-layout .navbar-wrapper {
    width: 1170px;
  }
}
html.floating-nav.boxed-layout .navbar-wrapper > .navbar-header,
html.floating-nav.boxed-layout .navbar-wrapper > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px) {
  html.floating-nav.boxed-layout .navbar-wrapper > .navbar-header,
  html.floating-nav.boxed-layout .navbar-wrapper > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}
html.floating-nav.fluid-layout .navbar-wrapper {
  padding: 0 15px;
}
#layout-main,
#layout-tripel,
#footer-quad {
  margin-left: -15px;
  margin-right: -15px;
}
*/
#layout-content {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  #layout-content {
    float: left;
    width: 100%;
  }
}

.aside-1 #layout-content,
.aside-2 #layout-content {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  .aside-1 #layout-content,
  .aside-2 #layout-content {
    float: left;
    width: 75%;
  }
}
/*
.aside-12 #layout-content {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  .aside-12 #layout-content {
    float: left;
    width: 50%;
  }
}
    */
#aside-first,
#aside-second {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  #aside-first,
  #aside-second {
    float: left;
    width: 25%;
  }
}
/*
.tripel-1 #tripel-first,
.tripel-2 #tripel-first,
.tripel-3 #tripel-first,
.tripel-1 #tripel-second,
.tripel-2 #tripel-second,
.tripel-3 #tripel-second,
.tripel-1 #tripel-third,
.tripel-2 #tripel-third,
.tripel-3 #tripel-third {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  .tripel-1 #tripel-first,
  .tripel-2 #tripel-first,
  .tripel-3 #tripel-first,
  .tripel-1 #tripel-second,
  .tripel-2 #tripel-second,
  .tripel-3 #tripel-second,
  .tripel-1 #tripel-third,
  .tripel-2 #tripel-third,
  .tripel-3 #tripel-third {
    float: left;
    width: 100%;
  }
}
.tripel-12 #tripel-first,
.tripel-13 #tripel-first,
.tripel-23 #tripel-first,
.tripel-12 #tripel-second,
.tripel-13 #tripel-second,
.tripel-23 #tripel-second,
.tripel-12 #tripel-third,
.tripel-13 #tripel-third,
.tripel-23 #tripel-third {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  .tripel-12 #tripel-first,
  .tripel-13 #tripel-first,
  .tripel-23 #tripel-first,
  .tripel-12 #tripel-second,
  .tripel-13 #tripel-second,
  .tripel-23 #tripel-second,
  .tripel-12 #tripel-third,
  .tripel-13 #tripel-third,
  .tripel-23 #tripel-third {
    float: left;
    width: 50%;
  }
}
.tripel-123 #tripel-first,
.tripel-123 #tripel-second,
.tripel-123 #tripel-third {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  .tripel-123 #tripel-first,
  .tripel-123 #tripel-second,
  .tripel-123 #tripel-third {
    float: left;
    width: 33.33333333%;
  }
}
.split-1 + #layout-footer #footer-quad-first,
.split-2 + #layout-footer #footer-quad-first,
.split-3 + #layout-footer #footer-quad-first,
.split-4 + #layout-footer #footer-quad-first,
.split-1 + #layout-footer #footer-quad-second,
.split-2 + #layout-footer #footer-quad-second,
.split-3 + #layout-footer #footer-quad-second,
.split-4 + #layout-footer #footer-quad-second,
.split-1 + #layout-footer #footer-quad-third,
.split-2 + #layout-footer #footer-quad-third,
.split-3 + #layout-footer #footer-quad-third,
.split-4 + #layout-footer #footer-quad-third,
.split-1 + #layout-footer #footer-quad-fourth,
.split-2 + #layout-footer #footer-quad-fourth,
.split-3 + #layout-footer #footer-quad-fourth,
.split-4 + #layout-footer #footer-quad-fourth {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  .split-1 + #layout-footer #footer-quad-first,
  .split-2 + #layout-footer #footer-quad-first,
  .split-3 + #layout-footer #footer-quad-first,
  .split-4 + #layout-footer #footer-quad-first,
  .split-1 + #layout-footer #footer-quad-second,
  .split-2 + #layout-footer #footer-quad-second,
  .split-3 + #layout-footer #footer-quad-second,
  .split-4 + #layout-footer #footer-quad-second,
  .split-1 + #layout-footer #footer-quad-third,
  .split-2 + #layout-footer #footer-quad-third,
  .split-3 + #layout-footer #footer-quad-third,
  .split-4 + #layout-footer #footer-quad-third,
  .split-1 + #layout-footer #footer-quad-fourth,
  .split-2 + #layout-footer #footer-quad-fourth,
  .split-3 + #layout-footer #footer-quad-fourth,
  .split-4 + #layout-footer #footer-quad-fourth {
    float: left;
    width: 100%;
  }
}
.split-12 + #layout-footer #footer-quad-first,
.split-13 + #layout-footer #footer-quad-first,
.split-14 + #layout-footer #footer-quad-first,
.split-23 + #layout-footer #footer-quad-first,
.split-24 + #layout-footer #footer-quad-first,
.split-34 + #layout-footer #footer-quad-first,
.split-12 + #layout-footer #footer-quad-second,
.split-13 + #layout-footer #footer-quad-second,
.split-14 + #layout-footer #footer-quad-second,
.split-23 + #layout-footer #footer-quad-second,
.split-24 + #layout-footer #footer-quad-second,
.split-34 + #layout-footer #footer-quad-second,
.split-12 + #layout-footer #footer-quad-third,
.split-13 + #layout-footer #footer-quad-third,
.split-14 + #layout-footer #footer-quad-third,
.split-23 + #layout-footer #footer-quad-third,
.split-24 + #layout-footer #footer-quad-third,
.split-34 + #layout-footer #footer-quad-third,
.split-12 + #layout-footer #footer-quad-fourth,
.split-13 + #layout-footer #footer-quad-fourth,
.split-14 + #layout-footer #footer-quad-fourth,
.split-23 + #layout-footer #footer-quad-fourth,
.split-24 + #layout-footer #footer-quad-fourth,
.split-34 + #layout-footer #footer-quad-fourth {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  .split-12 + #layout-footer #footer-quad-first,
  .split-13 + #layout-footer #footer-quad-first,
  .split-14 + #layout-footer #footer-quad-first,
  .split-23 + #layout-footer #footer-quad-first,
  .split-24 + #layout-footer #footer-quad-first,
  .split-34 + #layout-footer #footer-quad-first,
  .split-12 + #layout-footer #footer-quad-second,
  .split-13 + #layout-footer #footer-quad-second,
  .split-14 + #layout-footer #footer-quad-second,
  .split-23 + #layout-footer #footer-quad-second,
  .split-24 + #layout-footer #footer-quad-second,
  .split-34 + #layout-footer #footer-quad-second,
  .split-12 + #layout-footer #footer-quad-third,
  .split-13 + #layout-footer #footer-quad-third,
  .split-14 + #layout-footer #footer-quad-third,
  .split-23 + #layout-footer #footer-quad-third,
  .split-24 + #layout-footer #footer-quad-third,
  .split-34 + #layout-footer #footer-quad-third,
  .split-12 + #layout-footer #footer-quad-fourth,
  .split-13 + #layout-footer #footer-quad-fourth,
  .split-14 + #layout-footer #footer-quad-fourth,
  .split-23 + #layout-footer #footer-quad-fourth,
  .split-24 + #layout-footer #footer-quad-fourth,
  .split-34 + #layout-footer #footer-quad-fourth {
    float: left;
    width: 50%;
  }
}
.split-123 + #layout-footer #footer-quad-first,
.split-124 + #layout-footer #footer-quad-first,
.split-134 + #layout-footer #footer-quad-first,
.split-234 + #layout-footer #footer-quad-first,
.split-123 + #layout-footer #footer-quad-second,
.split-124 + #layout-footer #footer-quad-second,
.split-134 + #layout-footer #footer-quad-second,
.split-234 + #layout-footer #footer-quad-second,
.split-123 + #layout-footer #footer-quad-third,
.split-124 + #layout-footer #footer-quad-third,
.split-134 + #layout-footer #footer-quad-third,
.split-234 + #layout-footer #footer-quad-third,
.split-123 + #layout-footer #footer-quad-fourth,
.split-124 + #layout-footer #footer-quad-fourth,
.split-134 + #layout-footer #footer-quad-fourth,
.split-234 + #layout-footer #footer-quad-fourth {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  .split-123 + #layout-footer #footer-quad-first,
  .split-124 + #layout-footer #footer-quad-first,
  .split-134 + #layout-footer #footer-quad-first,
  .split-234 + #layout-footer #footer-quad-first,
  .split-123 + #layout-footer #footer-quad-second,
  .split-124 + #layout-footer #footer-quad-second,
  .split-134 + #layout-footer #footer-quad-second,
  .split-234 + #layout-footer #footer-quad-second,
  .split-123 + #layout-footer #footer-quad-third,
  .split-124 + #layout-footer #footer-quad-third,
  .split-134 + #layout-footer #footer-quad-third,
  .split-234 + #layout-footer #footer-quad-third,
  .split-123 + #layout-footer #footer-quad-fourth,
  .split-124 + #layout-footer #footer-quad-fourth,
  .split-134 + #layout-footer #footer-quad-fourth,
  .split-234 + #layout-footer #footer-quad-fourth {
    float: left;
    width: 33.33333333%;
  }
}
.split-1234 + #layout-footer #footer-quad-first,
.split-1234 + #layout-footer #footer-quad-second,
.split-1234 + #layout-footer #footer-quad-third,
.split-1234 + #layout-footer #footer-quad-fourth {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  .split-1234 + #layout-footer #footer-quad-first,
  .split-1234 + #layout-footer #footer-quad-second,
  .split-1234 + #layout-footer #footer-quad-third,
  .split-1234 + #layout-footer #footer-quad-fourth {
    float: left;
    width: 25%;
  }
}
*/






















fieldset > div {
    margin-bottom: 15px
}

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="file"], input[type="month"], input[type="number"], input[type="password"], input[type="range"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], select, textarea {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #666;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
}

    input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="file"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="range"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, select:focus, textarea:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
    }

    input[type="color"]::-moz-placeholder, input[type="date"]::-moz-placeholder, input[type="datetime"]::-moz-placeholder, input[type="datetime-local"]::-moz-placeholder, input[type="email"]::-moz-placeholder, input[type="file"]::-moz-placeholder, input[type="month"]::-moz-placeholder, input[type="number"]::-moz-placeholder, input[type="password"]::-moz-placeholder, input[type="range"]::-moz-placeholder, input[type="search"]::-moz-placeholder, input[type="tel"]::-moz-placeholder, input[type="text"]::-moz-placeholder, input[type="time"]::-moz-placeholder, input[type="url"]::-moz-placeholder, input[type="week"]::-moz-placeholder, select::-moz-placeholder, textarea::-moz-placeholder {
        color: #999;
        opacity: 1
    }

    input[type="color"]:-ms-input-placeholder, input[type="date"]:-ms-input-placeholder, input[type="datetime"]:-ms-input-placeholder, input[type="datetime-local"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, input[type="file"]:-ms-input-placeholder, input[type="month"]:-ms-input-placeholder, input[type="number"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, input[type="range"]:-ms-input-placeholder, input[type="search"]:-ms-input-placeholder, input[type="tel"]:-ms-input-placeholder, input[type="text"]:-ms-input-placeholder, input[type="time"]:-ms-input-placeholder, input[type="url"]:-ms-input-placeholder, input[type="week"]:-ms-input-placeholder, select:-ms-input-placeholder, textarea:-ms-input-placeholder {
        color: #999
    }

    input[type="color"]::-webkit-input-placeholder, input[type="date"]::-webkit-input-placeholder, input[type="datetime"]::-webkit-input-placeholder, input[type="datetime-local"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="file"]::-webkit-input-placeholder, input[type="month"]::-webkit-input-placeholder, input[type="number"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="range"]::-webkit-input-placeholder, input[type="search"]::-webkit-input-placeholder, input[type="tel"]::-webkit-input-placeholder, input[type="text"]::-webkit-input-placeholder, input[type="time"]::-webkit-input-placeholder, input[type="url"]::-webkit-input-placeholder, input[type="week"]::-webkit-input-placeholder, select::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
        color: #999
    }

    input[type="color"][disabled], input[type="date"][disabled], input[type="datetime"][disabled], input[type="datetime-local"][disabled], input[type="email"][disabled], input[type="file"][disabled], input[type="month"][disabled], input[type="number"][disabled], input[type="password"][disabled], input[type="range"][disabled], input[type="search"][disabled], input[type="tel"][disabled], input[type="text"][disabled], input[type="time"][disabled], input[type="url"][disabled], input[type="week"][disabled], select[disabled], textarea[disabled], input[type="color"][readonly], input[type="date"][readonly], input[type="datetime"][readonly], input[type="datetime-local"][readonly], input[type="email"][readonly], input[type="file"][readonly], input[type="month"][readonly], input[type="number"][readonly], input[type="password"][readonly], input[type="range"][readonly], input[type="search"][readonly], input[type="tel"][readonly], input[type="text"][readonly], input[type="time"][readonly], input[type="url"][readonly], input[type="week"][readonly], select[readonly], textarea[readonly], fieldset[disabled] input[type="color"], fieldset[disabled] input[type="date"], fieldset[disabled] input[type="datetime"], fieldset[disabled] input[type="datetime-local"], fieldset[disabled] input[type="email"], fieldset[disabled] input[type="file"], fieldset[disabled] input[type="month"], fieldset[disabled] input[type="number"], fieldset[disabled] input[type="password"], fieldset[disabled] input[type="range"], fieldset[disabled] input[type="search"], fieldset[disabled] input[type="tel"], fieldset[disabled] input[type="text"], fieldset[disabled] input[type="time"], fieldset[disabled] input[type="url"], fieldset[disabled] input[type="week"], fieldset[disabled] select, fieldset[disabled] textarea {
        background-color: #eee;
        opacity: 1
    }

    input[type="color"][disabled], input[type="date"][disabled], input[type="datetime"][disabled], input[type="datetime-local"][disabled], input[type="email"][disabled], input[type="file"][disabled], input[type="month"][disabled], input[type="number"][disabled], input[type="password"][disabled], input[type="range"][disabled], input[type="search"][disabled], input[type="tel"][disabled], input[type="text"][disabled], input[type="time"][disabled], input[type="url"][disabled], input[type="week"][disabled], select[disabled], textarea[disabled], fieldset[disabled] input[type="color"], fieldset[disabled] input[type="date"], fieldset[disabled] input[type="datetime"], fieldset[disabled] input[type="datetime-local"], fieldset[disabled] input[type="email"], fieldset[disabled] input[type="file"], fieldset[disabled] input[type="month"], fieldset[disabled] input[type="number"], fieldset[disabled] input[type="password"], fieldset[disabled] input[type="range"], fieldset[disabled] input[type="search"], fieldset[disabled] input[type="tel"], fieldset[disabled] input[type="text"], fieldset[disabled] input[type="time"], fieldset[disabled] input[type="url"], fieldset[disabled] input[type="week"], fieldset[disabled] select, fieldset[disabled] textarea {
        cursor: not-allowed
    }

textareainput[type="color"], textareainput[type="date"], textareainput[type="datetime"], textareainput[type="datetime-local"], textareainput[type="email"], textareainput[type="file"], textareainput[type="month"], textareainput[type="number"], textareainput[type="password"], textareainput[type="range"], textareainput[type="search"], textareainput[type="tel"], textareainput[type="text"], textareainput[type="time"], textareainput[type="url"], textareainput[type="week"], textareaselect, textareatextarea {
    height: auto
}

textarea {
    height: auto
}

button {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-shadow: 0 -1px 0 rgba(0,0,0,.3);
    color: #fff;
    background-color: #474949;
    border-color: #474949
}

    button:focus, button:active:focus, button.active:focus, button.focus, button:active.focus, button.active.focus {
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px
    }

    button:hover, button:focus, button.focus {
        color: #fff;
        text-decoration: none
    }

    button:active, button.active {
        outline: 0;
        background-image: none;
        -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
        box-shadow: inset 0 3px 5px rgba(0,0,0,.125)
    }

    button.disabled, button[disabled], fieldset[disabled] button {
        cursor: not-allowed;
        opacity: .65;
        filter: alpha(opacity=65);
        -webkit-box-shadow: none;
        box-shadow: none
    }

abutton.disabled, fieldset[disabled] abutton {
    pointer-events: none
}

button-default {
    background-image: -webkit-linear-gradient(#6d7070,#474949 50%,#3d3f3f);
    background-image: -o-linear-gradient(#6d7070,#474949 50%,#3d3f3f);
    background-image: linear-gradient(#6d7070,#474949 50%,#3d3f3f);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6d7070',endColorstr='#ff3d3f3f',GradientType=0);
    filter: none;
    border: 1px solid #2e2f2f
}

    button-default:hover {
        background-image: -webkit-linear-gradient(#636565,#3d3f3f 50%,#333434);
        background-image: -o-linear-gradient(#636565,#3d3f3f 50%,#333434);
        background-image: linear-gradient(#636565,#3d3f3f 50%,#333434);
        background-repeat: no-repeat;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff636565',endColorstr='#ff333434',GradientType=0);
        filter: none;
        border: 1px solid #242525
    }

button-primary {
    background-image: -webkit-linear-gradient(#6d94bf,#446e9b 50%,#3e648d);
    background-image: -o-linear-gradient(#6d94bf,#446e9b 50%,#3e648d);
    background-image: linear-gradient(#6d94bf,#446e9b 50%,#3e648d);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6d94bf',endColorstr='#ff3e648d',GradientType=0);
    filter: none;
    border: 1px solid #345578
}

    button-primary:hover {
        background-image: -webkit-linear-gradient(#5f8ab9,#3e648d 50%,#385a7f);
        background-image: -o-linear-gradient(#5f8ab9,#3e648d 50%,#385a7f);
        background-image: linear-gradient(#5f8ab9,#3e648d 50%,#385a7f);
        background-repeat: no-repeat;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5f8ab9',endColorstr='#ff385a7f',GradientType=0);
        filter: none;
        border: 1px solid #2e4b69
    }

button-success {
    background-image: -webkit-linear-gradient(#61dd45,#3cb521 50%,#36a41e);
    background-image: -o-linear-gradient(#61dd45,#3cb521 50%,#36a41e);
    background-image: linear-gradient(#61dd45,#3cb521 50%,#36a41e);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff61dd45',endColorstr='#ff36a41e',GradientType=0);
    filter: none;
    border: 1px solid #2e8a19
}

    button-success:hover {
        background-image: -webkit-linear-gradient(#52da34,#36a41e 50%,#31921b);
        background-image: -o-linear-gradient(#52da34,#36a41e 50%,#31921b);
        background-image: linear-gradient(#52da34,#36a41e 50%,#31921b);
        background-repeat: no-repeat;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff52da34',endColorstr='#ff31921b',GradientType=0);
        filter: none;
        border: 1px solid #287916
    }

button-info {
    background-image: -webkit-linear-gradient(#7bbdf7,#3399f3 50%,#208ff2);
    background-image: -o-linear-gradient(#7bbdf7,#3399f3 50%,#208ff2);
    background-image: linear-gradient(#7bbdf7,#3399f3 50%,#208ff2);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7bbdf7',endColorstr='#ff208ff2',GradientType=0);
    filter: none;
    border: 1px solid #0e80e5
}

    button-info:hover {
        background-image: -webkit-linear-gradient(#68b3f6,#208ff2 50%,#0e86ef);
        background-image: -o-linear-gradient(#68b3f6,#208ff2 50%,#0e86ef);
        background-image: linear-gradient(#68b3f6,#208ff2 50%,#0e86ef);
        background-repeat: no-repeat;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff68b3f6',endColorstr='#ff0e86ef',GradientType=0);
        filter: none;
        border: 1px solid #0c75d2
    }

button-warning {
    background-image: -webkit-linear-gradient(#ff9c21,#d47500 50%,#c06a00);
    background-image: -o-linear-gradient(#ff9c21,#d47500 50%,#c06a00);
    background-image: linear-gradient(#ff9c21,#d47500 50%,#c06a00);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff9c21',endColorstr='#ffc06a00',GradientType=0);
    filter: none;
    border: 1px solid #a15900
}

    button-warning:hover {
        background-image: -webkit-linear-gradient(#ff930d,#c06a00 50%,#ab5e00);
        background-image: -o-linear-gradient(#ff930d,#c06a00 50%,#ab5e00);
        background-image: linear-gradient(#ff930d,#c06a00 50%,#ab5e00);
        background-repeat: no-repeat;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff930d',endColorstr='#ffab5e00',GradientType=0);
        filter: none;
        border: 1px solid #8d4e00
    }

button-danger {
    background-image: -webkit-linear-gradient(#ff1d1b,#cd0200 50%,#b90200);
    background-image: -o-linear-gradient(#ff1d1b,#cd0200 50%,#b90200);
    background-image: linear-gradient(#ff1d1b,#cd0200 50%,#b90200);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff1d1b',endColorstr='#ffb90200',GradientType=0);
    filter: none;
    border: 1px solid #9a0200
}

    button-danger:hover {
        background-image: -webkit-linear-gradient(#ff0906,#b90200 50%,#a40200);
        background-image: -o-linear-gradient(#ff0906,#b90200 50%,#a40200);
        background-image: linear-gradient(#ff0906,#b90200 50%,#a40200);
        background-repeat: no-repeat;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff0906',endColorstr='#ffa40200',GradientType=0);
        filter: none;
        border: 1px solid #860100
    }

button:active, button.active {
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125)
}

button:focus, button.focus {
    color: #fff;
    background-color: #2e2f2f;
    border-color: #080808
}

button:hover {
    color: #fff;
    background-color: #2e2f2f;
    border-color: #292a2a
}

button:active, button.active, .open > .dropdown-togglebutton {
    color: #fff;
    background-color: #2e2f2f;
    border-color: #292a2a
}

    button:active:hover, button.active:hover, .open > .dropdown-togglebutton:hover, button:active:focus, button.active:focus, .open > .dropdown-togglebutton:focus, button:active.focus, button.active.focus, .open > .dropdown-togglebutton.focus {
        color: #fff;
        background-color: #1c1d1d;
        border-color: #080808
    }

button:active, button.active, .open > .dropdown-togglebutton {
    background-image: none
}

button.disabled, button[disabled], fieldset[disabled] button, button.disabled:hover, button[disabled]:hover, fieldset[disabled] button:hover, button.disabled:focus, button[disabled]:focus, fieldset[disabled] button:focus, button.disabled.focus, button[disabled].focus, fieldset[disabled] button.focus, button.disabled:active, button[disabled]:active, fieldset[disabled] button:active, button.disabled.active, button[disabled].active, fieldset[disabled] button.active {
    background-color: #474949;
    border-color: #474949
}

button .badge {
    color: #474949;
    background-color: #fff
}

button.primaryAction {
    color: #fff;
    background-color: #446e9b;
    border-color: #446e9b
}

    button.primaryAction:focus, button.primaryAction.focus {
        color: #fff;
        background-color: #345578;
        border-color: #1d2f42
    }

    button.primaryAction:hover {
        color: #fff;
        background-color: #345578;
        border-color: #315070
    }

    button.primaryAction:active, button.primaryAction.active, .open > .dropdown-togglebutton.primaryAction {
        color: #fff;
        background-color: #345578;
        border-color: #315070
    }

        button.primaryAction:active:hover, button.primaryAction.active:hover, .open > .dropdown-togglebutton.primaryAction:hover, button.primaryAction:active:focus, button.primaryAction.active:focus, .open > .dropdown-togglebutton.primaryAction:focus, button.primaryAction:active.focus, button.primaryAction.active.focus, .open > .dropdown-togglebutton.primaryAction.focus {
            color: #fff;
            background-color: #2a435f;
            border-color: #1d2f42
        }

    button.primaryAction:active, button.primaryAction.active, .open > .dropdown-togglebutton.primaryAction {
        background-image: none
    }

    button.primaryAction.disabled, button.primaryAction[disabled], fieldset[disabled] button.primaryAction, button.primaryAction.disabled:hover, button.primaryAction[disabled]:hover, fieldset[disabled] button.primaryAction:hover, button.primaryAction.disabled:focus, button.primaryAction[disabled]:focus, fieldset[disabled] button.primaryAction:focus, button.primaryAction.disabled.focus, button.primaryAction[disabled].focus, fieldset[disabled] button.primaryAction.focus, button.primaryAction.disabled:active, button.primaryAction[disabled]:active, fieldset[disabled] button.primaryAction:active, button.primaryAction.disabled.active, button.primaryAction[disabled].active, fieldset[disabled] button.primaryAction.active {
        background-color: #446e9b;
        border-color: #446e9b
    }

    button.primaryAction .badge {
        color: #446e9b;
        background-color: #fff
    }

ol, ul {
    padding-left: 0;
    list-style: none
}



.img-responsive {
    max-width: 100%;
    height: auto;
}